$color1: white;
$color2: firebrick;
$color3: #F2F4F8;
$color4: red;
$color5: seagreen;
$color6: rgb(29, 92, 56);
$color7: grey;

$font-family1: 'Jost', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;